In [1]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn['college']
col=db['studlist']

In [9]:
db.studlist.update_one({"_id":1},{"$inc":{"mark":2}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [10]:
x=db.studlist.find({"_id":1})
for i in x:
    print (i)

{'_id': 1, 'name': {'fname': 'Athira', 'lname': 'Krishnan'}, 'address': {'house_name': 'Ambadi', 'city': 'Kollam'}, 'gender': 'female', 'course': 'cs', 'mark': 82, 'grade': 'A', 'phone': {'type': 'mobile', 'no': 9896321450}}

In [2]:
import json
with open("data.json") as file:
    data=json.load(file)
db.studlist.insert_many(data)
db.insert_o

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: college.studlist index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': {'fname': 'Athira', 'lname': 'Krishnan'}, 'address': {'house_name': 'Ambadi', 'city': 'Kollam'}, 'gender': 'female', 'course': 'MCA', 'mark': 80, 'grade': 'A', 'phone': {'type': 'mobile', 'no': 9896321450}}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

1) Display name and marks of all female student in MCA

In [7]:
x=db.studlist.find({"gender":"female","course":"MCA"},{"name":1,"mark":1})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nMark: ",i['mark'])

Name: Athira Krishnan
Mark:  80

Name: Divya Vijayan
Mark:  70

Name: Renuka Vijayan
Mark:  82

Name: Remya V
Mark:  85

Name: Remya Sugunan
Mark:  72

Name: Vidhya Sugunan
Mark:  79

Name: Soorya S
Mark:  79

Name: Amritha S
Mark:  99

Name: Soorya P
Mark:  74

2. Display the details of student who secured highest mark in the course MCA

In [76]:
x=db.studlist.find({"course":"MCA"}).sort("mark",-1).limit(1)
for i in x:
    for j in i.keys():
        print(j+": ",i[j])

_id:  20
name:  {'fname': 'Amritha', 'lname': 'S'}
address:  {'house_name': 'Arya Bhavan', 'city': 'Varkala'}
gender:  female
course:  MCA
mark:  99
grade:  A+
phone:  {'type': 'mobile', 'no': 9445365787}

3. Display all male students who secured A+ grade.

In [79]:
x=db.studlist.find({"grade":"A+","gender":"male"})
for i in x:
    print(i['name']['fname']+" "+i['name']['lname'])

Vimal Vinayan
Vimal Bose
Arun S

4. Display the names of the top three students in Mechanical department.

In [10]:
x=db.studlist.find({"course":"Mechanical"}).sort("mark",-1).limit(3)
for i in x:
    print(i['name']['fname']+" "+i['name']['lname'])

Kavya Mohan
Vimal Vinayan
Yadu Kannan

5. Display the details of female students who achived a mark more than 90

In [106]:
x=db.studlist.find({"mark":{"$gt":90},"gender":"female"})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact no: ",i['phone']['no'])

Name: Kavya Mohan
Grade: A+
Marks:  95
Contact no:  9448399780

Name: Amritha S
Grade: A+
Marks:  99
Contact no:  9445365787

6. Display the details of student who secured mark, more than 80 but less than 90

In [107]:
x=db.studlist.find({"mark":{"$gt":80,"$lt":90}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact no: ",i['phone']['no'])

Name: Vidhya S
Grade: A
Marks:  85
Contact no:  8146321420

Name: Yadu Kannan
Grade: A
Marks:  85
Contact no:  9446321780

Name: Renuka Vijayan
Grade: A
Marks:  82
Contact no:  04712547890

Name: Remya V
Grade: A
Marks:  85
Contact no:  04712647890

7. Display the details of student whose name starts with V.

In [112]:
x=db.studlist.find({"name.fname":{"$regex":"^V"}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCourse: "+i['course']+"\nGrade: "+i['grade']+"\nMarks: ",i['mark'],"\nContact no: ",i['phone']['no'])

Name: Varun Nair
Course: MCA
Grade: B+
Marks:  70
Contact no:  04712662690

Name: Vidhya S
Course: Civil
Grade: A
Marks:  85
Contact no:  8146321420

Name: Vivek Bose
Course: MCA
Grade: B
Marks:  60
Contact no:  04842663890

Name: Vimal Vinayan
Course: Mechanical
Grade: A+
Marks:  90
Contact no:  8185399780

Name: Vimal Bose
Course: MCA
Grade: A+
Marks:  90
Contact no:  9485399780

Name: Vinod Paniker
Course: MCA
Grade: B
Marks:  70
Contact no:  9445399787

Name: Vidhya Sugunan
Course: MCA
Grade: B+
Marks:  79
Contact no:  04712647790

8. Display all students from Kollam

In [113]:
x=db.studlist.find({"address.city":"Kollam"})
for i in x:
    print(i['name']['fname']+" "+i['name']['lname'])

Athira Krishnan
Yadu Kannan
Kavya Mohan
Vimal Vinayan
Jabin S
Arya Satheesh

9. Display all students who do not belong to neither Kollam nor Thiruvananthapuram

In [116]:
x=db.studlist.find({"address.city":{"$nin":['Kollam',"Thiruvananthapuram"]}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCity: "+i["address"]["city"])

Name: Arya S
City: Varkala

Name: Vidhya S
City: Kadakkavoor

Name: Vivek Bose
City: Ernakulam

Name: Divya Vijayan
City: Varkala

Name: Vimal Bose
City: Ernakulam

Name: Vinod Paniker
City: Ernakulam

Name: Amritha S
City: Varkala

Name: Arun S
City: Attingal

Name: Abhilash S
City: Attingal

Name: Sree Raj
City: Varkala

10. Display all students  belong to either Kollam or Thiruvananthapuram

In [11]:
x=db.studlist.find({"gender":"female","address.city":{"$in":['Kollam',"Thiruvananthapuram"]}})
for i in x:
    print("\nName: "+i['name']['fname']+" "+i['name']['lname']+"\nCity: "+i["address"]["city"])

Name: Athira Krishnan
City: Kollam

Name: Kavya Mohan
City: Kollam

Name: Renuka Vijayan
City: Thiruvananthapuram

Name: Remya V
City: Thiruvananthapuram

Name: Remya Sugunan
City: Thiruvananthapuram

Name: Vidhya Sugunan
City: Thiruvananthapuram

Name: Arya Satheesh
City: Kollam

Name: Soorya S
City: Thiruvananthapuram

Name: Soorya P
City: Thiruvananthapuram